body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, #2b4151, #382540);
    color: white;
    padding: 20px;
    font-family: Bold
}

header{
    display: flex;
    justify-content: space-between;
    background: rgb(59, 59, 59);
    box-shadow: 3px 3px 20px rgb(158, 158, 158);
}

.proyecto {
    background-color: grey;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    width: 30%;
    font-size: 1.5vw;
}

.options div{
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.options div :hover{
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    color: rgb(170, 170, 170);
}

.header-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    max-width: 7vw;
    max-height: 7vw;
    text-align: center;
}

.header-center img{
    width: 9vw;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    width: 30%;
    padding: 10px;
    align-items: center;
}

.icons img{
    max-width: 3vw;
}

.icons a :hover{
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

