@font-face {
    font-family: Medium;
    src: url(../src/fonts/Arima-Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../src/fonts/Arima-Bold.ttf);
}

@font-face {
    font-family: Extra-Light;
    src: url(../src/fonts/Arima-ExtraLight.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(36, 36, 36);
    color: white;
    padding: 20px;
    font-family: Bold
}


header{
    display: flex;
    justify-content: space-between;
    background: rgb(59, 59, 59);
    box-shadow: 3px 3px 20px rgb(158, 158, 158);
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    width: 30%;
    font-size: 1.5vw;
}

.options div{
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.options div :hover{
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    color: rgb(170, 170, 170);
}

.header-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    max-width: 7vw;
    max-height: 7vw;
    text-align: center;
}

.header-center img{
    width: 9vw;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    width: 30%;
    padding: 10px;
    align-items: center;
}

.icons img{
    max-width: 3vw;
}

.icons a :hover{
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

.parte-inicial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vw;
}

.biografia{
    max-width: 40vw;
    text-align: left;
    font-family: Extra-Light;
    justify-content: center;
}

.imagen-inicial{
    display: flex;
    align-items: center;
    width: 25vw;
    max-width: 25vw;
    text-align: center;
    border: solid white 4vw;
    border-radius: 2vw;
    box-shadow: 1.8vw 1.8vw rgb(161, 161, 161);
}

.imagen-inicial img{
    width: 25vw;
    max-width: 25vw;
}